body {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.confetti-button {
   width: 200px;
   height: 40px;
   border-radius: 10px;
   border: none;
   outline: none;
   background-color: rgb(143, 124, 161);
   cursor: pointer;
   font-family: sans-serif;
   font-size: 1.4rem;
}

.button-wrapper {
   position: relative;
   width: 200px;
   height: 60px;
   margin-left: 25px;
}

.button-wrapper canvas {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   pointer-events: none;
}
